.env
.env.local
compose.yaml
docker-compose.yaml
docker-compose.yml
docker-compose.override.yml
docker-compose.override.yaml
docker-compose.override.yml
docker-compose.override.yaml
Dockerfile
requirements.txt
llm_logs
README.Dockerfile.md
.dockerignore
.git
.github
.vscode
.DS_Store
telegram_bot_env
